@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}

body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    background-color: var(--bg1);
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dela Gothic One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    width: 100%;
}

a {
    color: var(--body);
    text-decoration: none;
    transition: all .4s ease;
}

a:hover {
    color: var(--brand);
}

.link-more {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    /* left: 1px; */

}

.link-more .icon {
    transition: all .4s ease;
    margin-left: 4px;
}

.link-more:hover .icon {
    transform: translateX(8px);
}

.intro h6 {
    color: var(--brand);
    font-size: 30px;
}

.intro p {
    max-width: 500px;
    margin: auto;

}

/* navbar */
.navbar {
    background: linear-gradient(to bottom, #181f3f, rgba(27, 31, 52, 0.2))
}

.navbar-brand {
    font-family: 'Dela Gothic One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

/* Hero section */

#hero {
    /* background:linear-gradient(to right,rgba(27,31,52,0.1)),#181f3f9f,url(../img/cover_1.jpg); */
    background: linear-gradient(to right, #181f3f75, #162150ac), url(../img/cover_1.jpg);
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

/* .btn */

.btn {
    padding: 12px 36px;
    font-family: 'Dela Gothic One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .4s ease;
    border-radius: 0;
}

.btn-brand {
    background-color: var(--brand);
}

.btn-brand:hover {
    background-color: transparent;
    border-color: var(--brand);
    color: var(--brand);
}

.btn-outline-brand {
    background-color: transparent;
    border-color: var(--brand);
    color: #FFAB76;
}

.btn-outline-brand:hover {
    background-color: var(--brand);
}

/* About */


#about {
    position: relative;

}

/* #about::after {
    content: "";
    width: 25%;
    height: 100%;
    position: absolute;
    background-color: var(--brand);
    top: 0;
    left: 0;
    z-index: -1;
} */

#about h5 {
    color: var(--brand);
}

#about h1 {
    margin-top: 18px;
    margin-bottom: 24px;
}

#about .signature {
    width: unset;
}

/* Services */
.service-content {
    background-color: var(--bg1);
}

#services {
    background: var(--bg2);
}

#services .service-content {
    padding: 10px;
}

/* milestone */
#milestone {
    background: linear-gradient(to right, #181f3f75, #162150ac), url(../img/cover_2.jpg);
    background-position: center;
    background-size: cover;

}

#milestone h1 {
    color: var(--brand);

}

#milestone p {
    color: var(--white);
}

/* Feature */
#features {
    background-color: var(--bg1);
}

.feature {
    display: flex;
    background-color: var(--bg2);
    padding: 30px;
}

.feature .icon-feature {
    font-size: 36px;
    color: var(--brand);
    line-height: 1;
    margin-right: 16px;
}

.feature p {
    font-size: 14px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

/* socail icons */

.social-icons a {
    width: 48px;
    height: 48px;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;

}

.social-icons a:hover {
    background-color: var(--brand);
    color: var(--bg1);
}

/* Team */
#team {
    background-color: var(--bg2);
}

.team-member {
    position: relative;
    background-color: var(--bg1);
}

.team-member .social-icons {
    position: absolute;
    top: 0;
    right: 30px;
    transition: all .4s ease;
    opacity: 0;
}

.team-member:hover .social-icons {
    top: 30px;
    opacity: 1;
}

/* Reviews */

#reviews {
    background: var(--bg1);
}

.reveiw {
    padding: 32px;
    background-color: var(--bg2);
    position: relative;
}

.reveiw img {
    width: 60px;
    border-radius: 100px;
}

#reviews .icon {
    width: 40px;
    height: 40px;
    background-color: var(--brand);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: var(--bg1);
    position: absolute;
    right: 30px;

}

/* blog */
#blog{
    background-color: var(--bg2);
}
.blog-post{
    position: relative;
    background-color: var(--bg1);
    padding: 20px;
}
.blog-post .date{
    width: 100px;
    height: 100px;
    background-color: var(--brand);
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50px;
    left: 60px;

}
.blog-post .day{
   font-size: 32px;
   font-family: 'Dela Gothic One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1;
   color: var(--bg1);

}
.blog-post .year{
    color: var(--bg1);
    font-weight: 400;
}

/* Appoinment */

#booking{
    background: linear-gradient(to right, #181f3f75, #162150ac), url(../img/cover_2.jpg);
    background-position: center;
    background-size: cover;
}
#booking form{
    background-color: var(--bg1);
    padding:32px;
}
#booking .form-control{
    background-color: var(--bg2);
    border-radius: 0;
    margin-top: 14px;
    /* border-color: var(--bg2); */
    border: 2px solid var(--bg2);
    color: var(--body);
}
#booking input{
    height:50px;
}
#booking input:focus{
    box-shadow: none;
    border-left-color: var(--brand);
}
#booking textarea:focus{
    box-shadow: none;
    border-left-color: var(--brand);
}
/* Footer */

footer{
    padding-top: 100px;
}
footer .social-icons {
    display: flex;
}
footer .social-icons a{
    margin-right: 5px;
}
.footer-top{
    padding-bottom: 30px;
}
.footer-bottom{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid var(--bg2);
}